<div id="calltoaction">
    <center>
        <h2>We need you!</h2>
        <h5>
            This site is Open Source and relies on contribution from the community. If you want to add a new update, modify an existing one, or change something with the site?
            <bold>Please contribute to our public Github Repo found below</bold>
            <bold> <a href="https://github.com/theyetty/nextsimupdate">CONTRIBUTE NOW!</a> </bold>
        </h5>
    </center>
</div>
<style>
    #calltoaction {
        background-color: #dc3545;
        color: #ffffff;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        border-style: solid;
        border-color: #b22433;
    }
</style>
